<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> <%= title %> </title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  <!-- Custom styles for this template -->
  <link href="stylesheets/index.css" rel="stylesheet">
</head>

<body>
  <header class="sticky-top">
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Code and Chill is born of the idea of re-introducing Computer Science to students in
              a less- tensed environment as a broad course with diverse branches that accommodates innovation in
              different fields of study built on creative thinking while exposing the thrill and fun in Computer
              Science; with major focus on fostering creativity and equipping students with the skills needed to solve
              problems and create an environment that thrives on innovation which puts BUCC on the map.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=johntemiloiluwa.o@gmail.com" class="text-white">Email
                  Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <strong>CNC</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

  <main role="main">
    <section class="jumbotron text-center cover">
      <div class="container fade-in">
        <h1 class="jumbotron-heading ">Code and Chill</h1>
        <p class="lead text-muted">We are creating a relaxed environment with friends, food and code. We want to work
          on projects together, learn and help ourselves debug. feel free to come it’s just CODE AND CHILL. </p>
        <p>
          <a href="/register" class="btn btn-primary my-2">Register</a>
        </p>
      </div>
    </section>

    <div class="py-5 bg-light space">
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="card card-hover mb-4 shadow-sm">
              <img src="/images/graphics.png" class="card-img-top" alt="Graphics">
              <div class="card-body">
                <p class="card-text">This class will focus on deisgns, animations and creativity with Technology</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-hover mb-4 shadow-sm">
              <img src="/images/linux.png" class="card-img-top" alt="Linux">
              <div class="card-body">
                <p class="card-text">This class will introduce and create pathway to Linux Administration</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-hover  mb-4 shadow-sm">
              <img src="/images/programming.png" class="card-img-top" alt="Programming">
              <div class="card-body">
                <p class="card-text">Re-introducing programming concepts in a fun and innovative way</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div>

      </div>
  </main>

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>CNC &copy; 2019</p>
      <p><a href="https://bucc.club/">BUCC</a></p>
    </div>
  </footer>
</body>

</html>