<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Success - <%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body class="d-flex flex-column h-100">
    <main role="main" class="flex-shrink-0">
      <div class="container">
        <h1 class="mt-5 display-4">Success</h1>
        <p class="lead">Thanks for registering.</p>
        <code>print("Welcome, <%= typeof name!='undefined' ? name : '' %> to <%= title %>")</code>
        <hr class="mb-4">
      </div>
      <div class="container">
        <h3>Location</h3>
        <p>New Horizons, PG Classes</p>
        <p>New Horizons Building</p>
        <p>Babcock University</p>
        <hr class="mb-4">
      </div>
      <div class="container">
          <h3>Venue</h3>
          <h5>Mondays</h5>
          <p>6:30PM - 8:30PM</p>
          <br>
          <h5>Fridays</h5>
          <p>2:00PM - 4:00PM</p>
        </div>
    </main>
    
    <footer class="footer mt-auto py-3">
      <div class="container">
        <p class="mb-1">&copy; 2019 Code and Chill</p>
      </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script></body>
  </body>
</html>